.header__menu_mobile_list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
}

.header__menu_mobile_list li {
  margin-bottom: 30px;
}

.header__menu_mobile_list a {
  font-family: Cera Pro;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.11px;
  letter-spacing: 0%;  
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.header__menu_mobile_list a:hover {
  color: #c8e51f;
}

/* Кнопка родительского пункта (с плюсиком/минусом) */
.header__menu_mobile_parent_btn {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Cera Pro;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.11px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.header__menu_mobile_parent_btn:hover {
  color: #c8e51f;
}

.header__menu_mobile_parent_icon {
  font-size: 20px;
}

/* Подменю */
.header__submenu_mobile {
  list-style: none;
  padding-left: 16px;
  margin: 12px 0 0;
}

.header__submenu_mobile li {
  margin-bottom: 14px;
}

.header__submenu_mobile a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}


.header__cta_button_mobile_list {
  width: 100%;
  height: 40px;
  background-color: #c8e51f;
  color: #000;
  font-family: Cera Pro;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.63px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 80px;
}

.header__cta_button_mobile_list_container {
  margin-top:20px;
}