.news__text {
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 21px;
  line-height: 26.4px;
  letter-spacing: 0%;
  padding: 50px 0 50px 0;
  box-sizing: border-box;
  border-bottom: 2px solid #fff;
  margin: 0 0 0 165px;
}

@media screen and (max-width: 1439px) {
  .news__text {
    font-size: 16px;
    line-height: 20.11px;
    padding: 30px 0 50px;
    box-sizing: border-box;
    border-bottom: 2px solid #fff;
    margin: 0 20px 15px;
  }
}