.header__menu_container {
  margin: 0;
  padding: 0;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  max-width: 700px;
}

.header__menu {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0 30px;
}

.header__menu_primary {
  justify-content: flex-start;
}

.header__menu_secondary {
  justify-content: flex-start;
}

.header__menu.header__menu_primary a {
  font-weight: 400;
}

.header__menu a {
  color: #fff;
  font-family: 'Cera Pro', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 20.11px;
  text-align: left;
  text-decoration: none;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.header__menu a:hover {
  color: #a00d18;
}

@media screen and (max-width: 1439px) {
  .header__menu_container {
    display: none;
  }
}
