.textBlock {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 124px 100px;
  box-sizing: border-box;
  background-color: #fff;
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 21px;
  line-height: 26.4px;
}

@media screen and (max-width: 1439px) {
  .textBlock {
    padding: 0 20px;
    font-size: 16px;
    line-height: 20.11px;
    gap: 20px;
  }
}



/*
@media screen and (max-width: 1439px) {
  .textBlock {
    padding: 0 20px;
    gap: 20px;
  }
}
  */