.section__priceList {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto 120px;
  background-color: rgba(242, 242, 247, 1);
  padding: 0 0 90px 0;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 1192px;
  width: 100%;
  box-sizing: border-box;
  margin: 90px auto 24px;
}

.title {
  font-family: Cera Pro;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  max-width: 60%;
  margin: 0;
}

.priceList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 1192px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.priceList li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1192px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px 36px;
  background-color: #fff;
  font-family: Cera Pro;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.priceList li:nth-child(even) {
  background-color: transparent;
}

@media screen and (max-width: 1439px) {
  .title {
    font-size: 24px;
    max-width: 100%;
    padding: 0 20px;
  }

  .priceList li {
    font-size: 16px;
    padding: 8px 20px;
    gap: 20px;
  }
}