.page__container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 124px 100px;
    box-sizing: border-box;
    background-color: #fff;
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 21px;
    line-height: 26.4px;
}

.section__header {
    font-family: "Cera Pro", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60.34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    max-width: 80%;
    text-transform: uppercase;
    margin: 0 0 40px 0;
}

.joinButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.joinButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 48%;
    margin: 20px 0 0 0;
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #c8e51f;
    height: 80px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.joinButton:hover {
    color: #e51b22;
}

.joinButton img {
    width: 40px;
    margin-right: 5px;
}

@media screen and (max-width: 1439px) {
    .page__container {
        padding: 0 20px;
        font-size: 16px;
        line-height: 20.11px;
    }

    .joinButtons {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }

    .joinButton {
        font-size: 30px;
        width: 100%;
    }

    .joinButton img {
        width: 30px;
        margin-right: 5px;
    }
}
